@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?lwgxqt');
    src:  url('../fonts/icomoon.eot?lwgxqt#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?lwgxqt') format('truetype'),
      url('../fonts/icomoon.woff?lwgxqt') format('woff'),
      url('../fonts/icomoon.svg?lwgxqt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-google:before {
    content: "\ea88";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-dribbble:before {
    content: "\eaa7";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  .icon-pinterest:before {
    content: "\ead1";
  }