html{
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    // color: $text-light;
    font-size: 16px;
    color: $text-dark;

    
}
a{
    text-decoration: none;
    display: inline-block;
    color: $text-dark;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
    // justify-content: space-between;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
    max-width: 1170px;
    margin: 0px auto;
    padding: 0 15px;

}
.title-2{
           
        padding-top: 120px;
        padding-bottom: 30px;
        color: #000;
        font-size: 36px;
        text-align: center;
        span{
            color:$light-blue;
            }
    
}

.breadcrumbs{
    display: flex;
    align-items: center;
    font-size: 15px;
    
    &__inner{
        padding: 0px 0px 0px;
    }
    &__list{
        li{
            display: inline-block;
            position: relative;
    
            & + li{
                padding-left: 24px;
                &::before{
                    content: '/';
                    position: absolute;
                    left: 8px;
                    color: #fff;
                }
            }
            &:last-child{
                a, span{
                    color: #bfcad7;
                }
            }
        }
        a{
            color: #fff;
        }
    }
}
  