html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    // color: $text-light;
    font-size: 16px;
    color: $text-dark;
}
a{
    text-decoration: none;
    display: inline-block;
    color: $text-dark;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    max-width: 1170px;
    margin: 0px auto;
    padding: 0 15px;

}