@import '_vars';
@import '_global';
@import '_fonts';

// start header
.header__top{
    background-color: $bg-grey;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;   
}
.header__logo{
    
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    align-content: center;
    color: #000;
    img{
        margin-right: 6px;
        height: 40px;
        width: 40px;
    }
    span{
        color: $light-blue;
    }  
}
.header__btn{
    
    background-color: $light-blue;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 100px;
    &-invite{
        margin-right: 80px;
        padding: 10px 20px;
        width: auto;
    }
    &-login{
        font-weight: 500;
        background-color: $bg-blue;
    }
    &-register{
        margin-left: 10px;
        font-weight: 500;
        background-color: $bg-blue;
    }
}

.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    height: 80px;
}
.menu__list{
    li{
        display: inline-block;
        
        &+li{
            margin-left: 30px;
        }
    }
}

.header__form{
    max-width: 360px;
    width: 100%;
    position: relative;
    

    input{
        width: 100%;
        display: block;
        height: 45px;
        border-radius: 25px;
        padding-left: 25px;
        border: solid 1px rgb(216, 216, 216);
        font-size: 15px;
        
        &:focus{
            outline: 0;
        }
        &::placeholder{
            color: #898f96;
        }
    }
    button{
        position: absolute;
        background-color: $light-blue;
        border: none;
        right: 0;
        top: 0;
        height: 45px;
        width: 70px;
        border-radius: 25px;
        cursor: pointer;
    }
}
// end header

// start search 
.search{
    height: 725px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::after{
        content: "";
        height: 74px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        bottom: -74px;
        // z-index: 1;
    }
//  position: absolute;
}
.search__inner{
    color:#fff;
    text-align: center;
    padding-top: 185px;
    padding-bottom: 70px;
    &-title{
        font-size: 60px;
        color: rgb(243, 243, 248);
        padding-bottom: 45px;
        span{
            font-weight: 700;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);            
        }
    }
}
.search__box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 205px;
    
}
.search__btn{
    color:#fff;
    background-color: transparent;    
    font-size: 16px;
    border-radius: 20px;
    padding:  10px 0;
    text-align: center;
    width: 190px;
    border: 1px solid #fff;
    &-all{
        margin-right: 20px;
    }
    &-popular{

    }
    &:hover{
        background-color: #fff;
        color: $light-blue;
    }
}
.search__form{
    max-width: 1065px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    
    &::after{
        content: "";
        height: 135px;
        width: 1140px;

        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        position: absolute;
        top: -40px;
        left:-40px;
        z-index: -1;
    }
    input{
        max-width: 620px;
        width: 100%;
        display: block;
        height: 44px;        
        border: solid 1px rgb(216, 216, 216);
        font-size: 15px;
    }
    select{
        position: absolute;
        right: 250px;
        top: 0;
        max-width: 195px;
        width: 100%;
        height: 44px;
        border: solid 1px rgb(216, 216, 216);
    }
    button{
        position: absolute;
        right: 0;
        top: 0;
        width: 222px;
        height: 44px;
        color: #fff;
        background-color: $light-blue;
        border: none;
    }
}

.for-pseudo{
    &::before{
        content: "";
        width: 1110px;
        height: 135px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        opacity: 0.502;
        position: absolute;
        top: -55px;
        left:-25px;
        z-index: -2;
    }
    &::after{
        content: "";
        width: 1080px;
        height: 135px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        opacity: 0.502;
        position: absolute;
        top: -70px;
        left:-12px;
        z-index: -3;
    }
}
  
// end search 
// start features 
.features{
    margin-top: 185px;
    height: 525px;
    //height=Full_height-margin-top=710px-185px=525px
}
.features__inner{
    display: flex;
    justify-content: space-around;

    &-item{
        // border: 1px solid black;
        border: none;
        min-height: 405px;
        width: 360px;        
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 40px 30px 15px 30px;   
        
        &:hover{
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            transition: all .5s;
        }
    }
    &-title{
        font-size: 24px;
        color: #000;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        color: $text-grey;
    }
    
}

  
// end features 
.title{
    font-size: 30px;
    color: #000;
    
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    
}
// start slider 
.products-slider__title{
    margin-bottom: 50px;
}
.products-slider{
    height: 850px;
    background-color: $bg-grey;
    padding-top: 120px;
}
.products__item{
    // max-width: 1140px;
    // width: 100%;
    // min-height: 450px;//delete!!!
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);    
    display: flex !important;      

    &-img{
        min-height: 450px;
        min-width: 560px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;       
        display: inline-block; 
    }
    &-content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 570px;
        padding: 50px 50px 25px 50px;        
    }
    &-name{        
        margin-bottom: 30px;
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
    }
    &-title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px; 
        color: #000;       
    }
    &-title-more{
        display: flex;
    }
    &-author{
        display: flex;
        align-items: center;
        // flex-wrap: nowrap;
        max-width: 230px;
        margin-right: 15px;
        .avatar{
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;            
        }
        span{
            font-size: 15px;
            color: #000;
        }        
    }
    &-category{
        display: flex;
        align-items: center;
        .category-img{
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background-position: center;            
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
            display: inline-block;
        }
        span{
            color: $purple;
            font-size: 15px;
        }
    }

    &-text{
        margin-bottom: 35px;
        color: $text-grey;
        line-height: 22px;
    }
    &-types{
        display: flex;
        margin-bottom: 45px;
    }
    &-type{
        color: #868c96;
        background-color: #f1f3f6;
        text-align: center;
        border-radius: 10px;
        padding:  0px 15px;
        margin-right: 10px;
    }
    &-footer{
        border-top: 1px solid #ececec;
        display: flex;
        justify-content: space-between;
        padding-top: 23px;
    }
    &-info{
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;                
    }
    &-price{
        margin-right: 20px;
        color:#fff;
        background-color: $light-blue;
        border-radius: 20px;
        padding: 8px 20px;
    }
    &-like{
        margin-right: 20px;
        color: $text-grey;
        position: relative;     
        .lnr-heart {
            color: $purple;            
        }
        span{
            margin-right: 10px;
        }
    }
    &-basket{
        margin-right: 45px;
        color: $light-blue;
        span{
            margin-right: 10px;
        }
    }
    &-rate{
        font-size: 20px;
        display: flex;
        align-items: center;        
    }    
}
.slick-arrow{
    background-color: $purple;
    border: none;    
    font-size: 0;
    width: 55px;
    height: 45px;
    background-position: center;            
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    outline: none;
}
.slick-prev{
    background-image: url(../../images/icons/arrow-left.svg);
    border-radius: 50% 0 0 50%;   
    position: absolute;
    right: 84px;
    top: -127px;
    
}
.slick-next{
    background-image: url(../../images/icons/arrow-right.svg);
    border-radius: 0 50% 50% 0;  
    position: absolute;
    right: 30px;
    top: -127px;
}
//end slider
//start product!!!!! NO ----s!!!!!!!
.product{
    background-color: #f6f7fb;
    padding-top: 125px;
    padding-bottom: 50px;
}
.product__title{
    margin-bottom: 30px;
    position: relative;
}
.product__filter{
    position:absolute;
    right: 30px;
    top: 45px;
    font-size: 16px;
    color: #747b86;

    &-title{
        margin-right: 25px;
        margin-bottom: 5px;
        cursor: default;
    }
    &-dots{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        

        .dot{
            height: 5px;
            width: 5px;
            background-color: #a3b1c4;
            border-radius: 100%;            
            
            &+.dot{
                margin-top: 3px;
            }
        }
    }
    &-btn{
        // display: none;
        height: 0;
        overflow: hidden;
        opacity: 0;
        li{
            button{
                padding: 5px 0px;
                width: 100%; 
                background-color: $bg-grey;  
                border: 1px solid $text-grey; 
                color: #000;            
            }
            &+li{
                margin-top: -1px;
            }
            
        }
    }
    &:hover &-btn {
        height: auto;
        overflow: visible;
        opacity: 1;
        transition: all .3s;
        color: red;
    }
}

.product__inner{
    position: relative;
}
.product__inner-btn-sort{
    position: absolute;
    right: 10px;
    top: -100px;
}
.product__inner-btn{
    margin-bottom: 30px;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);

    button{
        border: none;
        background-color: #f1f3f6;
        color: #000;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 18px;
        font-size: 15px;
        & + button{
            margin-left: 8px;
        }
        &.mixitup-control-active{
            background-color: $light-blue;
            color:#fff;
            outline:0;
            // box-shadow: 0 0 0 2px lightskyblue;
        }
        
    }
    
}
.product__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);  
    max-width: 360px;
    width: 100%;
    min-height: 530px;
    margin-bottom: 30px;

    &-img{
        min-height: 230px;
        min-width: 360px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;       
        display: inline-block; 
        
    }
    &-img-box{
        position: relative;
        height: 230px;
    }
    &-links{
        display: flex;
        justify-content: center;        
        position: absolute;
        width: 100%;  
        top:92px;   
        height: 0px;
        overflow: hidden;  
        
        a{
            color:#ccc;
            display: flex;
            justify-content: center;
            width: 130px;
            height: 45px;
            border: solid 1px #ccc;
            font-size: 15px;
            font-weight: 500;
            padding: 13px 0px 17px 0px;
            border-radius: 23px;
            transition: all .5s;


            &+a{
                margin-left: 10px;
            }

            &:hover{
                background-color: #fff;
                color:$light-blue;
            }
        }
    }
    &-img-box:hover &-links{
        height: 45px;
    }
    &-content{
        padding: 30px 30px 5px 30px;
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        flex-direction: column;
        min-height: 238px;

    }
    &-title{
        color: #000;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
        // margin-top: 30px;
    }
    &-name{        
        margin-bottom: 30px;
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
    }
    &-title{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px; 
        color: #000;       
    }
    &-title-more{
        display: flex;
        align-items: center;
    }
    &-author{
        display: flex;
        align-items: center;
        // flex-wrap: nowrap;
        max-width: 230px;
        margin-right: 15px;
        .avatar{
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;            
        }
        span{
            font-size: 15px;
            color: #000;            
        }        
    }
    &-category{
        display: flex;
        align-items: center;
        .category-img{
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background-position: center;            
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
            display: inline-block;
        }
        span{
            color: $purple;
            font-size: 15px;
        }
    }
    &-text{
        margin-bottom: 35px;
        color: $text-grey;
        line-height: 25px;
    }
    &-footer{
        border-top: 1px solid #ececec;
        display: flex;
        justify-content: space-between;        
        // padding-top: 23px;
        align-items: center;
        width: 100%;
        padding: 15px 30px 5px 30px;
    }
    &-info{
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
        align-items: center;                
    }
    &-price{
        margin-right: 15px;
        color: $light-blue;
        background-color: #e6f1fd;
        border-radius: 20px;
        padding: 8px 20px;
        font-weight: 500;
    }
    &-like{
        margin-right: 15px;
        color: #6f7d8d;
        // position: relative;     
        .lnr-heart {
            color: $purple;            
        }
        span{
            margin-right: 10px;
        }
    }
    &-basket{
        margin-right: 0px;
        color: $light-blue;
        span{
            margin-right: 10px;
        }
    }
    &-rate{
        font-size: 20px;
        // display: flex;
        // align-items: center;        
    }
}
.product__bottom-btn{
    
    text-align: center;
    button{
        margin: 30px 5px 120px 5px;
        border: none;
        border-radius: 30px;
        background-color: $light-blue;
        color: #fff;
        padding: 20px 30px;
        cursor: pointer;
        // outline:0;
        &.mixitup-control-active{
            background-color: $bg-blue;
            color:#fff;
            outline:0;
            
        }
    }

}

//end products
 //start follower
 .follower-slider{
    background-color: #eff1f5;
    padding-top: 120px;
 }
 .follower__title{
     margin-bottom: 50px;
     margin-top: 50px;
 }
 .follower__inner{
     padding-bottom: 120px;
     .slick-list{
         margin-left: -15px;
         margin-right: -15px;
     }
     .slick-slide{
        //  max-width: 360px;
        width: auto !important;
        margin: 0 15px;  
     }   
 }


// end follower-slider
//start stats
.stats{
    height: 350px;
    background-color: #212225;
    color: #fff;
    padding-top: 100px;
}
.stats__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stats__item{
    // font-size: 36px;
    
    &-picture{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 36px;

        span{
            margin-bottom: 50px;
            font-size: 48px;
        }
    }
    &-text{
        font-size: 18px;
        margin-top: 20px;
        color: #fff;
        text-align: center;
    }
}
.items-for-sale{
    color:#feb71d;
}
.total-sales{
    color: #58c9e9;
}
.customers{
    color: #77de51;
}
.members{
    color: #ff6a6d;
}

// end stats 

// start choose
.choose{
    text-align: center;
    padding-bottom: 120px;

    &-title{        
        padding-top: 120px;
        padding-bottom: 30px;
        color: #000;
        font-size: 36px;
        text-align: center;
        span{
            color:$light-blue;
            }
    }

    &-text{
        padding: 0px 235px;
        margin-bottom: 60px;  
        line-height: 30px;      
    }
}
.choose__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.choose__item{
    width: 360px;
    height: 374px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    padding: 56px 30px 10px 30px;
    margin-bottom: 30px;

    &-number{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 48px;
        color: #5c87f8;
        opacity: 0.2;
    }

    &-title{
        font-size: 24px;
        display: flex;
        flex-direction: column;        

        span{
            font-size: 60px;
            color: $light-blue;
            margin-bottom: 52px;
        }
    }
    &-text{
        line-height: 30px;
        margin-top: 20px;
    }
}
//end choose

// start invite
.invite{
    display: flex;
    text-align: center;
}
.invite__item{
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 560px;
    color: #fff;
    padding: 100px 180px 20px 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    

    &-img{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100px;
        width: 125px;
        margin: 0px auto;
        margin-bottom: 50px;
    }
    &-title{
        font-size: 36px;
        margin-bottom: 20px;
    }
    &-text{
        line-height: 30px;
        margin-bottom: 45px;
    }
    &-btn{
        width: 190px;
        background-color: #fff;
        margin: 0 auto;
        padding: 20px 0px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        border-radius: 28px;
        color: $light-blue;        
    }
    .shop-btn{
        color: $purple;
    }
    .shop-img{
        height: 100px;
        width: 100px;
    }

}

  
//end invite
  

// start feedback
.feedback{
    
    padding-bottom: 120px;

    &-text{
        padding: 0px 235px;
        margin-bottom: 60px;  
        line-height: 30px;
        text-align: center;     
    }
}
.feedback__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.feedback__item{
    display: flex;
    flex-direction: column;
    min-height: 320px;
    max-width: 555px;
    width: 100%;
    padding: 50px 40px 10px 40px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgb(6, 116, 236) ;
        width: 2px;
        height: 100%;
    }
    
          
    &-author{
        display: flex;
        align-items: center;
        position: relative;        
        font-size: 20px;
        color: #000;
        margin-right: 15px;
        margin-bottom: 30px;

        .avatar{
            width: 80px;
            height: 80px;
            // border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 20px;            
        }
        &-info{
            display: flex;
            flex-direction: column;            
        }
        &-profession{
            margin-top: 10px;
            font-size: 15px;
            color: $text-grey;
        }             
    }

    &-icon{
        position: absolute;
        right: 0;
        font-size: 60px;
        color: #e8e8e8;
    }
    &-text{
        line-height: 30px;
    }
}
.feedback-button{
    display: flex;
    justify-content: center;
}
.feedback-btn{
    width: 190px;
    background-color: $light-blue;    
    padding: 20px 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    color: #fff;
    
    text-align: center;    
}
  
//end feedback
// start news
.news{
    background-color: #eff1f5;
    padding-bottom: 120px;

    &-text{
        padding: 0px 235px;
        margin-bottom: 60px;  
        line-height: 30px;
        text-align: center;     
    }
}
.news__inner{
    display: flex;
    justify-content: space-between;
}
.news__item{
    max-width: 361px;
    min-height: 475px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #fff;

    &-img{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 230px;
        width: 361px;
    }
    &-content{
        padding: 30px;
        border-bottom: 1px solid #ececec;
    }
    &-title{
        color:#000;
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 20px;
    }
    &-text{
        line-height: 30px;
        color: $text-grey;
    }
    &-footer{
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 20px 30px;
        position: relative;
        span{
            margin-right: 8px;
        }

        &::before{
            content: "";
            width: 1px;
            height: 40px;
            background-color: #ececec;
            position: absolute;
            left: 50%;
        }
    }
    &-date{
        margin-right: 60px;
        span{
            color: $light-blue;
        }
    }
}
//end news

//start support
.support{
    
    text-align: center;
    font-size: 24px !important;
    
}
.support__inner{
    display: flex;    
    // justify-content: space-around;
    position: relative;

    &::before{
        content: "";
        width: 2px;
        height: 100%;
        background-color: #e8eaf3;
        position: absolute;
        left: 50%;
    }
    
    &-item{
        width: 50%;
        padding-top: 65px;
        padding-bottom: 65px;
        
    }
    &-img{
        height: 120px;
        width: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;  
        margin: 0 auto;        
    }
    .supp-img{        
        width: 160px;
    }
    &-title{
        font-size: 24px !important;
        padding-top: 30px;

    }
    .item-money{
        padding-right: 160px;
    }
    .item-supp{
        padding-left: 80px;
    }
}

//end support

// start join
.join{    
    color: #fff;
    text-align: center;
    padding-bottom: 110px;
    position: relative;
    
    &-title{
        color: #fff;
    }
    &-btn{
        color: $light-blue;
        margin-top: 50px;
        padding: 20px 40px;
        background-color: #fff;
        border-radius: 48px;
    }
}
// end join
// start footer
.footer__content{
    background-color: #262b30;
    color: #fff;
    padding-top: 110px;    
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 126px;
    
}
.footer__logo{
    
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    align-content: center;
    
    img{
        margin-right: 6px;
    }
    &-text{
        color: #fff;
    }
    span{
        color: $light-blue;
    }
}
.footer__col{
    max-width: 165px;
    width: 100%;
    color:#ababab;
    font-size: 15px;

    &-info{
        max-width: 290px;        
    }
    &-newsletter{
        max-width: 380px;
    }
    &-title{
        color: #fff;
        font-size: 18px;
        padding-top: 15px;
    }
    &-text{
        margin-top: 30px;
        margin-bottom: 20px;
        line-height: 28px;
    }
    a{
        color:#ababab;
    }
    ul{
        margin-top: 35px;
        li+li{
            margin-top: 15px;
        }
    }
}
.footer__info{
    &-email{
        line-height: 26px;
        margin-top: 15px;
    }
    &-address{
        margin-top: 15px;
        line-height: 26px;
    }
    a span{
        margin-right: 10px;
    }
}
.footer__form{
    position: relative;
    margin-bottom: 50px;
    
    input{
        background-color: #fff;
        border: none;
        display: block;
        width: 100%;
        height: 40px;
        color:#000;
        font-size: 14px;
        padding-left: 25px;
        padding-right: 120px;
        border-radius: 20px;
        &::placeholder{
            color:#ababab;
        }
    }
    button{
        background-color: $light-blue;
        height: 40px;
        width: 110px;
        border-radius: 20px;
        position: absolute;
        right: -1px;
        top: 0;
        border: none;
        color: #fff;
        cursor: pointer;
    }
}
.footer__social-links{
    
    li{
        display: inline-block;
        
        & + li{
            margin-left: 12px;
        }
    }
    a{
        width: 44px;
        height: 44px;
        background-color:lightblue;
        border-radius: 50%;
    }
    .facebook{
        position: relative;
        background-color: #395799;
        &::before{
            content: '\ea90';
            font-family: 'icomoon';
            color: #fff;
            position: absolute;
            left: 14px;
            top: 13px;
        }
    }
    .twitter{
        position: relative;
        background-color: #19b2f5;
        &::before{
            content: '\ea96';
            font-family: 'icomoon';
            color: #fff;
            position: absolute;
            left: 14px;
            top: 13px;
        }
    }
    .gog{
        position: relative;
        background-color: #f05b44;
        &::before{
            content: '\ea88';
            font-family: 'icomoon';
            color: #fff;
            position: absolute;
            left: 14px;
            top: 13px;
        }
    }
    .pintest{
        position: relative;
        background-color: #9c0c1c;
        &::before{
            content: '\ead1';
            font-family: 'icomoon';
            color: #fff;
            position: absolute;
            left: 14px;
            top: 13px;
        }
    }
    .in{
        position: relative;
        background-color: #0da6be;
        &::before{
            content: '\eaca';
            font-family: 'icomoon';
            color: #fff;
            position: absolute;
            left: 14px;
            top: 13px;
        }
    }
    .wheel{
        position: relative;
        background-color: #ea4c89;
        &::before{
            content: '\eaa7';
            font-family: 'icomoon';
            color: #fff;
            position: absolute;
            left: 14px;
            top: 13px;
        }
    }
    
}
.footer__copy{
    font-size: 15px;
    color: #999999;
    background-color: #192027;
    display: flex;
    align-items: center;
    text-align: center;
    height: 96px;
    span{
        color:#fff;
    }
    &-text{
        
    }
}
//end footer
//----------------------------------------------------------
//start categoru-page
.product-page__inner{
    display: flex;
    padding-bottom: 110px;
}
.page-search{
    height: 280px;
    background: linear-gradient(270deg, rgba(13,62,242,0.9) 0%, rgba(45,47,199,0.9) 46%, rgba(76,31,156,0.9) 100%);
    background-color: rgb(108, 108, 108);
}
.page-search__inner{
    padding: 85px 10px 0 10px;
}
.page-search__inner-text{
    span{
        font-weight: 500;
    }
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 26px;
    color: #fff;
    text-align: center;
}
.page-search__inner-form{
    position: relative;
    max-width: 555px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
    input{
        height: 55px;
        width: 100%;
        border-radius: 30px;
        border:none;
        padding-left: 30px;
        padding-right: 120px;
    }
    button{
        height: 55px;
        position: absolute;
        right: 0;
        background-color: $light-blue;
        border-radius: 30px;
        border:none;
        max-width: 110px;
        width: 100%;
        color: #fff;
    }
}
.page-content__filter{
    & .container{
        // background-color: #000;
        // border: 1px solid #ccc;
        width: 100%;
    }
    background-color: #fff;
    height: 100px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &-sortlist{
        height: 44px;
        
        display: flex;
        justify-content: flex-end;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    
    button{
        cursor: pointer;
        background-color: transparent;
        border: 1px rgb(236, 239, 242) solid;
        border-radius: 3px;
        font-size: 14px;
        color: #747b86;
        outline: none;
        margin-right: 30px;
        padding-left: 20px;
        text-align: left;
        width: 220px;
        position: relative;
        & .lnr-chevron-down{
            position: absolute;
            right: 18px;
            top: 18px;
            font-size: 10px;
        }
        
    }
}

  
.page-content__filter-sortbutton{
    border: 1px rgb(236, 239, 242) solid;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    button{
        margin-right: 0;
        height: 22px;
        width: 22px;
        border: none;
        border-radius: 0;
        padding-left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &.icon-grid{
            background-color: transparent;
            background-image: url(../images/icons/gird.svg);
        } 
        &.icon-list{
            width: 24px;
            background-color: transparent;
            background-image: url(../images/icons/list.svg);
        } 
        &.active{
            background-color: rgba(78, 153, 233, 0.363);
        }
    }
}  
.product-page{
    background-color: #eff1f5;
    padding-top: 80px;
    padding-bottom: 120px;
}
.product-page__aside{
    min-width: 266px;
    // why not max-width+ width100%????
}
.aside__item{
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 30px 30px 35px 30px;
    
    
    &:last-child{
        margin-bottom: 0;
    }
}
.aside__title{
    font-size: 20px;
    color: #010101;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(231, 235, 238);
    position: relative;
    .lnr-chevron-down{
        position: absolute;
        right: 0;
        top: 8px;
        font-size: 12px;
        color: #555555;
        font-weight: 900;
    }
}

.category__list{
    padding-top: 30px;
    font-size: 15px;
    margin-left: 20px;
    li+li{
        margin-top: 25px;
    }
    
    li{
        position: relative;
        font-weight: 500;
        .lnr-chevron-right{
            position: absolute;
            left: -20px; 
            top: 4px;
            font-size: 10px;
        }
        a{
            display: flex;
            justify-content: space-between;
            span{
                color: #747b86;
            }
        }
        .active{
            color: $light-blue;
        }
    }
}
.filter__list{
    padding-top: 30px;
    font-size: 15px;
    
    // margin-left: 20px;
    li{
        position: relative;
        
        &+li{
            margin-top: 25px;
        }
        &:before{
            content: "";
            background-image: url(../images/icons/icon-circle.svg);
            display: inline-block;
            width: 12px;
            height: 12px;
            
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            position: absolute;
            left: 0;
            top: 4px;
        }
        a{
            padding-left: 20px;
            color: #747b86;
        }
    }
}
.irs--flat .irs-min, .irs--flat .irs-max{
    display: none;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
    display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    background-color: rgba(115, 71, 193, 0.1);
    color: #7347c1;
    position: absolute;
    top: 45px;
    
    text-align: center;
    font-size: 15px;
    padding: 7px 5px;
    border-radius: 15px;
}
 
.irs--flat .irs-from{
    left: 0 !important;
    right: 125px !important;
}
.irs--flat .irs-to{
    right: 0 !important;
    left: 125px !important;
}
.irs--flat .irs-handle{
    width: 16px;
    height: 16px;
    border: 4px solid $light-blue;
    background-color: #fff;
    border-radius: 50%;
    top: 20px;
}
.irs--flat .irs-handle>i:first-child{
    display: none;
}
.irs--flat .irs-line{
    height: 6px;
    background-color: #efedf3;
}
.irs--flat .irs-bar{
    height: 6px;
    background-color: #7347c1;
}




.price-range{
    form{
        button{
            cursor: pointer;
            margin-top: 80px;
            width: 172px;
            background-color: $light-blue;
            color: #fff;
            padding: 16px 10px;
            border: none;
            text-align: center;
            font-size: 15px;
            border-radius: 30px;
            font-weight: 500;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
    }
}
.product-page__inner{
    padding-bottom: 0;
}
.product-page__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-page__content {
     margin-left: 30px;
     position: relative;
    & .product-page__inner-btn{
        position: absolute;
        top: -142px;
        left: -260px;
        
        button{
            border: none;
            background-color: transparent;
            font-weight: 500;
            font-size: 15px;
            outline: 0;
            cursor: pointer;
            &.mixitup-control-active{
                color: $light-blue;
                outline: 0;
            }
        }
    }
    & .product__item{
        border-radius: 4px !important;
        max-width: 265px;
        min-height: 375px;
        
        &-img{
            min-height: 160px;
            min-width: 265px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &-box{
                height: 160px;                
            }
        }
        &-links{
            top: 60px;
            a{
                width: 110px;
            }
        }
        &-name{
            margin-bottom: 15px;
        }
        &-title{
            font-weight: 500;
            font-size: 18px;
            color: #000;
        }
        &-author{
            color: #000;
            font-weight: 500;
        }
        &-text{
            display: none;
        }
        &-content{
            padding: 15px;
            padding-bottom: 0;
            min-height: 150px;
        }
        &-rate{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }
        &-basket{
            font-size: 15px;
        }
        &-footer{
            padding: 15px 20px;
            
        }
        &-info{
            width: 100%;
            display: flex;
            justify-content: space-between;

        }
        &-category .category-img{
            margin-right: 5px;
        }
    }
}
.product__item-list{
    display: none;
}
.product__item{
    &.list{
        max-width: 100%;
        min-height: 210px;
        display: flex;
        .product__item-container{
            display: none;
        }
        .product__item-list{
            display: flex;
            // padding: 30px 30px 30px 20px;
            padding: 30px 0px;
            width: 100%;
        }
        .product__item-img-box, .product__item-img{
            min-width: 230px;
            min-height: 210px;
        }
        .product__item-links{
            top:80px;
            a{
                width: 100px;
            }
        }
        .product__item-content-list{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 260px;
            padding-right: 20px;
            border-right: 1px solid #ececec;
            padding: 0px 20px;
        }
        .product__item-name{
            margin-bottom: 5px;
        }
        .product__item-text{
            // display: inline-block;
            overflow: hidden;
            // text-align: justify;
            line-height: 30px;
            margin-bottom: 10px;
            // max-height: 60px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            // max-width: 100px;
            text-overflow: ellipsis;
        }
        
        
        .product__item-social-list{
            padding: 15px 20px;
            border-right: 1px solid #ececec;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 204px;
            width: 100%;
            .product__item-rate{
                margin-bottom: 0;
            }
            span{
                color: #7f4ec2;
                margin-right: 10px;
            }
            .product__item-rate{
                justify-content: start;
                span{
                    font-size: 16px;
                    color: #6f7d8d;
                }
            }
            .product__rate-star-list.jq-ry-container{
                padding-left: 0;
            }
        }

        .product__item-buy-list{
            // width: 100%;
            padding: 40px 20px 40px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 150px;
            width: 100%;
            font-size: 15px;
            .product__item-price{
                margin: 0 auto;
                font-weight: 500;
            }
            .product__item-basket{
                margin: 0 auto;
            }
        }
    }
        
}
.pagination__list{
    display: flex;
    // flex-direction: row;
    justify-content: flex-end;
    
    li{
        display: inline-block;
        &:first-child{
            margin-right: 15px;
        }
        &:last-child{
            margin-left: 20px;
        }

        &+li{
            margin-left: 5px;
        }
    }
    a, span{
        width: 50px;
        height: 38px;
        background-color: #fff;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: #747b86;
        font-weight: 500;
        &:hover{
            background-color: #0675ec69;
            color: #f3f3f8;
        }
        &.active{
            background-color: $light-blue;
            color: #f3f3f8;
        }
        & .lnr{
            &:hover{
                background-color: $purple;
                color: #fff;
            }
        }
        
    }
}

  
//end categoru-page
//----------------------------------------------------------