@import '_vars';
@import '_global';
// @import '_fonts';

// start header
.header__top{
    background-color: $bg-grey;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;   
}
.header__btn{
    
    background-color: $light-blue;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 100px;
    &-invite{
        margin-right: 80px;
        padding: 10px 20px;
        width: auto;
    }
    &-login{
        font-weight: 500;
        background-color: $bg-blue;
    }
    &-register{
        margin-left: 10px;
        font-weight: 500;
        background-color: $bg-blue;
    }
}

.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    height: 80px;
}
.menu__list{
    li{
        display: inline-block;
        
        &+li{
            margin-left: 30px;
        }
    }
}

.header__form{
    max-width: 360px;
    width: 100%;
    position: relative;
    

    input{
        width: 100%;
        display: block;
        height: 45px;
        border-radius: 25px;
        padding-left: 25px;
        border: solid 1px rgb(216, 216, 216);
        font-size: 15px;
        
        &:focus{
            outline: 0;
        }
        &::placeholder{
            color: #898f96;
        }
    }
    button{
        position: absolute;
        background-color: $light-blue;
        border: none;
        right: 0;
        top: 0;
        height: 45px;
        width: 70px;
        border-radius: 25px;
        cursor: pointer;
    }
}
// end header

// start search 
.search{
    height: 725px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::after{
        content: "";
        height: 74px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        bottom: -74px;
        // z-index: 1;
    }
//  position: absolute;
}
.search__inner{
    color:#fff;
    text-align: center;
    padding-top: 185px;
    padding-bottom: 70px;
    &-title{
        font-size: 60px;
        color: rgb(243, 243, 248);
        padding-bottom: 45px;
        span{
            font-weight: 700;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);            
        }
    }
}
.search__box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 205px;
    
}
.search__btn{
    color:#fff;
    background-color: transparent;    
    font-size: 16px;
    border-radius: 20px;
    padding:  10px 0;
    text-align: center;
    width: 190px;
    border: 1px solid #fff;
    &-all{
        margin-right: 20px;
    }
    &-popular{

    }
    &:hover{
        background-color: #fff;
        color: $light-blue;
    }
}
.search__form{
    max-width: 1065px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    
    &::after{
        content: "";
        height: 135px;
        width: 1140px;

        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        position: absolute;
        top: -40px;
        left:-40px;
        z-index: -1;
    }
    input{
        max-width: 620px;
        width: 100%;
        display: block;
        height: 44px;        
        border: solid 1px rgb(216, 216, 216);
        font-size: 15px;
    }
    select{
        position: absolute;
        right: 250px;
        top: 0;
        max-width: 195px;
        width: 100%;
        height: 44px;
        border: solid 1px rgb(216, 216, 216);
    }
    button{
        position: absolute;
        right: 0;
        top: 0;
        width: 222px;
        height: 44px;
        color: #fff;
        background-color: $light-blue;
        border: none;
    }
}

.for-pseudo{
    &::before{
        content: "";
        width: 1110px;
        height: 135px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        opacity: 0.502;
        position: absolute;
        top: -55px;
        left:-25px;
        z-index: -2;
    }
    &::after{
        content: "";
        width: 1080px;
        height: 135px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        opacity: 0.502;
        position: absolute;
        top: -70px;
        left:-12px;
        z-index: -3;
    }
}
  
// end search 
// start features 
.features{
    margin-top: 185px;
    height: 525px;
    //height=Full_height-margin-top=710px-185px=525px
}
.features__inner{
    display: flex;
    justify-content: space-around;

    &-item{
        // border: 1px solid black;
        border: none;
        min-height: 405px;
        width: 360px;        
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 40px 30px 15px 30px;   
        
        &:hover{
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            transition: all .5s;
        }
    }
    &-title{
        font-size: 24px;
        color: #000;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        color: $text-grey;
    }
    
}

  
// end features 
.title{
    font-size: 30px;
    color: #000;
    
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    
}
// start slider 
.products-slider__title{
    margin-bottom: 50px;
}
.products-slider{
    height: 850px;
    background-color: $bg-grey;
    padding-top: 120px;
}
.products__item{
    // max-width: 1140px;
    // width: 100%;
    // min-height: 450px;//delete!!!
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);    
    display: flex !important;      

    &-img{
        min-height: 450px;
        min-width: 560px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;       
        display: inline-block; 
    }
    &-content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 570px;
        padding: 50px 50px 25px 50px;        
    }
    &-name{        
        margin-bottom: 30px;
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
    }
    &-title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px; 
        color: #000;       
    }
    &-title-more{
        display: flex;
    }
    &-author{
        display: flex;
        align-items: center;
        // flex-wrap: nowrap;
        max-width: 230px;
        margin-right: 15px;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;            
        }
        span{
            font-size: 15px;
            color: #000;
        }        
    }
    &-category{
        display: flex;
        align-items: center;
        .category-img{
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background-position: center;            
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
            display: inline-block;
        }
        span{
            color: $purple;
            font-size: 15px;
        }
    }

    &-text{
        margin-bottom: 35px;
        color: $text-grey;
        line-height: 22px;
    }
    &-types{
        display: flex;
        margin-bottom: 45px;
    }
    &-type{
        color: #868c96;
        background-color: #f1f3f6;
        text-align: center;
        border-radius: 10px;
        padding:  0px 15px;
        margin-right: 10px;
    }
    &-footer{
        border-top: 1px solid #ececec;
        display: flex;
        justify-content: space-between;
        padding-top: 23px;
    }
    &-info{
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;                
    }
    &-price{
        margin-right: 20px;
        color:#fff;
        background-color: $light-blue;
        border-radius: 20px;
        padding: 8px 20px;
    }
    &-like{
        margin-right: 20px;
        color: $text-grey;
        position: relative;     
        .lnr-heart {
            color: $purple;            
        }
        span{
            margin-right: 10px;
        }
    }
    &-basket{
        margin-right: 45px;
        color: $light-blue;
        span{
            margin-right: 10px;
        }
    }
    &-rate{
        font-size: 20px;
        display: flex;
        align-items: center;        
    }    
}
.slick-arrow{
    background-color: $purple;
    border: none;    
    font-size: 0;
    width: 55px;
    height: 45px;
    background-position: center;            
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    outline: none;
}
.slick-prev{
    background-image: url(../../images/icons/arrow-left.svg);
    border-radius: 50% 0 0 50%;   
    position: absolute;
    right: 84px;
    top: -127px;
    
}
.slick-next{
    background-image: url(../../images/icons/arrow-right.svg);
    border-radius: 0 50% 50% 0;  
    position: absolute;
    right: 30px;
    top: -127px;
}
//end slider
//start product!!!!! NO ----s!!!!!!!
.product{
    background-color: #f6f7fb;
    padding-top: 125px;
    padding-bottom: 50px;
}
.product__title{
    margin-bottom: 30px;
    position: relative;
}
.product__filter{
    position:absolute;
    right: 30px;
    top: 45px;
    font-size: 16px;
    color: #747b86;

    &-title{
        margin-right: 25px;
        margin-bottom: 5px;
        cursor: default;
    }
    &-dots{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        

        .dot{
            height: 5px;
            width: 5px;
            background-color: #a3b1c4;
            border-radius: 100%;            
            
            &+.dot{
                margin-top: 3px;
            }
        }
    }
    &-btn{
        // display: none;
        height: 0;
        overflow: hidden;
        opacity: 0;
        li{
            button{
                padding: 5px 0px;
                width: 100%; 
                background-color: $bg-grey;  
                border: 1px solid $text-grey; 
                color: #000;            
            }
            &+li{
                margin-top: -1px;
            }
            
        }
    }
    &:hover &-btn {
        height: auto;
        overflow: visible;
        opacity: 1;
        transition: all .3s;
        color: red;
    }
}

.product__inner{
    position: relative;
}
.product__inner-btn-sort{
    position: absolute;
    right: 10px;
    top: -100px;
}
.product__inner-btn{
    margin-bottom: 30px;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);

    button{
        border: none;
        background-color: #f1f3f6;
        color: #000;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 18px;
        font-size: 15px;
        & + button{
            margin-left: 8px;
        }
        &.mixitup-control-active{
            background-color: $light-blue;
            color:#fff;
            outline:0;
            // box-shadow: 0 0 0 2px lightskyblue;
        }
        
    }
    
}
.product__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);  
    max-width: 360px;
    width: 100%;
    min-height: 530px;
    margin-bottom: 30px;

    &-img{
        min-height: 230px;
        min-width: 360px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;       
        display: inline-block; 
        
    }
    &-img-box{
        position: relative;
        height: 230px;
    }
    &-links{
        display: flex;
        justify-content: center;        
        position: absolute;
        width: 100%;  
        top:92px;   
        height: 0px;
        overflow: hidden;  
        
        a{
            color:#ccc;
            display: flex;
            justify-content: center;
            width: 130px;
            height: 45px;
            border: solid 1px #ccc;
            font-size: 15px;
            font-weight: 500;
            padding: 13px 0px 17px 0px;
            border-radius: 23px;
            transition: all .5s;


            &+a{
                margin-left: 10px;
            }

            &:hover{
                background-color: #fff;
                color:$light-blue;
            }
        }
    }
    &-img-box:hover &-links{
        height: 45px;
    }
    &-content{
        padding: 30px 30px 5px 30px;
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        flex-direction: column;
        min-height: 238px;

    }
    &-title{
        color: #000;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
        // margin-top: 30px;
    }
    &-name{        
        margin-bottom: 30px;
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
    }
    &-title{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px; 
        color: #000;       
    }
    &-title-more{
        display: flex;
        align-items: center;
    }
    &-author{
        display: flex;
        align-items: center;
        // flex-wrap: nowrap;
        max-width: 230px;
        margin-right: 15px;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;            
        }
        span{
            font-size: 15px;
            color: #000;            
        }        
    }
    &-category{
        display: flex;
        align-items: center;
        .category-img{
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background-position: center;            
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
            display: inline-block;
        }
        span{
            color: $purple;
            font-size: 15px;
        }
    }
    &-text{
        margin-bottom: 35px;
        color: $text-grey;
        line-height: 25px;
    }
    &-footer{
        border-top: 1px solid #ececec;
        display: flex;
        justify-content: space-between;        
        // padding-top: 23px;
        align-items: center;
        width: 100%;
        padding: 15px 30px 5px 30px;
    }
    &-info{
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
        align-items: center;                
    }
    &-price{
        margin-right: 15px;
        color: $light-blue;
        background-color: #e6f1fd;
        border-radius: 20px;
        padding: 8px 20px;
        font-weight: 500;
    }
    &-like{
        margin-right: 15px;
        color: #6f7d8d;
        // position: relative;     
        .lnr-heart {
            color: $purple;            
        }
        span{
            margin-right: 10px;
        }
    }
    &-basket{
        margin-right: 0px;
        color: $light-blue;
        span{
            margin-right: 10px;
        }
    }
    &-rate{
        font-size: 20px;
        // display: flex;
        // align-items: center;        
    }
}
.product__bottom-btn{
    
    text-align: center;
    button{
        margin: 30px 5px 120px 5px;
        border: none;
        border-radius: 30px;
        background-color: $light-blue;
        color: #fff;
        padding: 20px 30px;
        cursor: pointer;
        // outline:0;
        &.mixitup-control-active{
            background-color: $bg-blue;
            color:#fff;
            outline:0;
            
        }
    }

}

//end products
 //start follower
 .follower-slider{
    background-color: #eff1f5;
    padding-top: 120px;
 }
 .follower__title{
     margin-bottom: 50px;
     margin-top: 50px;
 }
 .follower__inner{
     padding-bottom: 120px;    
 }



  

