@import '_vars';
@import '_global';
// @import '_fonts';

// start header
.header__top{
    background-color: $bg-grey;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;   
}
.header__btn{
    
    background-color: $light-blue;
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 100px;
    &-invite{
        margin-right: 80px;
        padding: 10px 20px;
        width: auto;
    }
    &-login{
        font-weight: 500;
        background-color: $bg-blue;
    }
    &-register{
        margin-left: 10px;
        font-weight: 500;
        background-color: $bg-blue;
    }
}

.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    height: 80px;
}
.menu__list{
    li{
        display: inline-block;
        
        &+li{
            margin-left: 30px;
        }
    }
}

.header__form{
    max-width: 360px;
    width: 100%;
    position: relative;
    

    input{
        width: 100%;
        display: block;
        height: 45px;
        border-radius: 25px;
        padding-left: 25px;
        border: solid 1px rgb(216, 216, 216);
        font-size: 15px;
        
        &:focus{
            outline: 0;
        }
        &::placeholder{
            color: #898f96;
        }
    }
    button{
        position: absolute;
        background-color: $light-blue;
        border: none;
        right: 0;
        top: 0;
        height: 45px;
        width: 70px;
        border-radius: 25px;
        cursor: pointer;
    }
}
// end header

// start search 
.search{
    height: 725px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::after{
        content: "";
        height: 74px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        bottom: -74px;
        // z-index: 1;
    }
//  position: absolute;
}
.search__inner{
    color:#fff;
    text-align: center;
    padding-top: 185px;
    padding-bottom: 70px;
    &-title{
        font-size: 60px;
        color: rgb(243, 243, 248);
        padding-bottom: 45px;
        span{
            font-weight: 700;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);            
        }
    }
}
.search__box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 205px;
    
}
.search__btn{
    color:#fff;
    background-color: transparent;    
    font-size: 16px;
    border-radius: 20px;
    padding:  10px 0;
    text-align: center;
    width: 190px;
    border: 1px solid #fff;
    &-all{
        margin-right: 20px;
    }
    &-popular{

    }
    &:hover{
        background-color: #fff;
        color: $light-blue;
    }
}
.search__form{
    max-width: 1065px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    
    &::after{
        content: "";
        height: 135px;
        width: 1140px;

        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        position: absolute;
        top: -40px;
        left:-40px;
        z-index: -1;
    }
    input{
        max-width: 620px;
        width: 100%;
        display: block;
        height: 44px;        
        border: solid 1px rgb(216, 216, 216);
        font-size: 15px;
    }
    select{
        position: absolute;
        right: 250px;
        top: 0;
        max-width: 195px;
        width: 100%;
        height: 44px;
        border: solid 1px rgb(216, 216, 216);
    }
    button{
        position: absolute;
        right: 0;
        top: 0;
        width: 222px;
        height: 44px;
        color: #fff;
        background-color: $light-blue;
        border: none;
    }
}

.for-pseudo{
    &::before{
        content: "";
        width: 1110px;
        height: 135px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        opacity: 0.502;
        position: absolute;
        top: -55px;
        left:-25px;
        z-index: -2;
    }
    &::after{
        content: "";
        width: 1080px;
        height: 135px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        opacity: 0.502;
        position: absolute;
        top: -70px;
        left:-12px;
        z-index: -3;
    }
}
  
// end search 
// start features 
.features{
    margin-top: 185px;
    height: 525px;
    //height=Full_height-margin-top=710px-185px=525px
}
.features__inner{
    display: flex;
    justify-content: space-around;

    &-item{
        // border: 1px solid black;
        border: none;
        min-height: 405px;
        width: 360px;        
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 40px 30px 15px 30px;        
    }
    &-title{
        font-size: 24px;
        color: #000;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        color: $text-grey;
    }
    &-item-responsive{
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
    }
    
}

  
// end features 
// start slider 
.slider{
    height: 850px;
    background-color: $bg-grey;
}

// end slider 